body{
  background-image: url("https://img.freepik.com/free-photo/starry-night-sky_1048-11828.jpg?w=900&t=st=1666108664~exp=1666109264~hmac=207875115bd2bdd2b47c983533cdaecef199942132f0743196461ea178e3591c");
  font-family: 'Space Grotesk', sans-serif !important;
  background-color: #000000 !important;
  color: white;
}

.carousel-inner{
  height: 70vh !important;
}

.down{
  margin-bottom: 30px;
}

.text-muted{
  color: white !important;
}

.container{
  color: white !important;
}

.navbar{
  background-color: #1164B4 !important;
  font-family: 'Space Grotesk', sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
